.navbar {
  padding: 0.5rem clamp(0.5rem, 3vw, 2.5rem);
  background-color: rgba(139, 139, 139, 0.76);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: clamp(70px, 18vw, 8rem);
}
.logo-container {
  width: fit-content;
}
.search-box {
  border: 1px solid #7e7e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  padding-left: 0.2rem;
  overflow: hidden;
  padding: 0.3rem 0.2rem;
}
.search-input {
  border: none;
  font-size: 0.9rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  outline: none;
  background-color: transparent;
  width: clamp(70px, 15vw, 200px);
}
.city {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: rgb(37, 37, 37);
}
.temp-day {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
  color: rgb(61, 61, 61);
}
.select-tag {
  background: transparent;
  padding: 0.4rem 0.5rem;
  outline: none;
}
.country-select-tag {
  max-width: 150px;
  min-width: 80px;
}
.options-tab {
  width: fit-content;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.news-feed {
  min-height: 250px;
  width: 450px;
  background-color: #f1f1f1;
  margin-top: 0.7rem;
  padding: 0.5rem;
  cursor:default;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.news-feed:hover {
  background-color: #dfdfdf;
}
.news-feed-wrapper {
  padding: 0.5rem clamp(0.5rem, 3vw, 2.5rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.news-feed-image {
  width: 135px;
  height: 95px;
  object-fit: cover;
}
.news-feed-title {
  margin-left: 0.7rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #2e2e2e;
}
.news-feed-title-image {
  display: flex;
  flex: 1;
}

.description {
  font-size: 0.875rem;
  font-weight: 500;
  color: #383838;
}
.options {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.source {
  font-size: 0.75rem;
  font-weight: 600;
}
.details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading-box{
  height: 3px;
}
.sidebar-title{

  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-title p{
  margin: 0.2rem 0rem;
  font-weight: 500;
  color: #414141;
}
.sidebar-title-hello{
  font-size: 0.85rem;
}
.sidebar-title-name{

  font-size: 1.5rem;
}
.navbar-button-container{

  display: flex;
  justify-content: center;
  align-items: center;
}

.covid-data-container{

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cases-wrapper{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cases-container{

  margin: 0.85rem 0rem;
}
.report-heading{
  padding: 0.3rem 0.75rem;
  font-size: 1.1rem;
  text-align: center;
}
.cases-container span{

  margin: 0.35rem 0.5rem;
  padding: 0.35rem 0rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  width: 140px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px rgba(177, 177, 177, 0.397);
}

.report-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cases{
  
  background-color: rgb(44, 146, 194)
}
.deaths{
  background-color: rgb(248, 60, 27);
}
.cured{
  background-color: rgb(13, 160, 13);
}
.critical{
  background-color: rgb(238, 137, 23);
}

.public-news-heading{
  font-weight: 600;
  margin: 0.67rem 0rem;
  text-align: center;

}
.footer{
  min-height: 200px;
}



@media (max-width: 350px) {
  .country-select-tag {
    display: none;
  }
  .news-feed {
    height: 180px;
  }
  .news-feed-title {
    font-size: 0.65rem;
  }
  .news-feed-image {
    width: 90px;
  }
}


@media (max-width: 580px) {
  .weather-time-date-info {
    display: none;
  }
  .news-feed {
    height: 230px;
  }
  .news-feed-title {
    font-size: 0.85rem;
  }
  .news-feed-image {
    width: 115px;
    height: 90px;
  }
  .description {
    font-size: 0.75rem;
  }
  .source {
    font-size: 0.65rem;
  }
}
@media (max-width: 980px) {
  .news-feed {
    width: 430px;
  }
}
